# Virtual envs, env variables, and IDE dependencies
.dlVenv
.venv
.vscode
.env

# Sensor processing configs and testing files
iMonnit/config/*.txt
TTN/data
TTN/jupyter/*.png
SEL/__pycache__
SEL/data
SEL/jupyter
SEL/documentation
NOVUS/data