.dlVenv
.venv
.vscode
config/*.json
config/*.txt
data/json/novus/*.json
data/json/ttn/*.json
data/json/*.json
data/csv/*
data/jsonOld
.env
SEL/__pycache__
monnit/config/*.txt
/ttn/data/json/*
/ttn/data/csv/*
/ttn/jupyter/*.png
/sel/data