# Virtual envs, env variables, and IDE dependencies
.dlVenv
.venv
.vscode
.env

living_lab_functions/__pycache__
living_lab_functions.egg-info
build

# Sensor processing configs and testing files
TTN/data
TTN/jupyter
SEL/__pycache__
SEL/jupyter
NOVUS/jupyter

# Data files
iMonnit/data
SEL/data
NOVUS/data